:root {
  --otw-c-dark: #191813;
  --otw-c-faint: #c9c7b8;
  --otw-c-beige: #b5b3a4;
  --otw-c-tan: #444444;
  --otw-c-white: #ffffff;
  --otw-c-black: #000000;
  --otw-c-groove: #eeede0;
}

.theme-dark {
  --otw-c-dark: #c9c7b8;
  --otw-c-faint: #191813;
  --otw-c-beige: #444444;
  --otw-c-tan: #b5b3a4;
  --otw-c-white: #000000;
  --otw-c-black: #ffffff;
  --otw-c-groove: #11121f;
}