@use "../utils/_mixins" as mixin;

.chat-message {
  --default-margin: 10px;

  --color-text-accent: #{var(--otw-c-faint)};
  --color-text-hyperlink: #{var(--otw-c-faint)};
  border-radius: 0;
  border: 2px solid var(--otw-c-dark);


  background: var(--otw-c-beige);
  box-shadow: 3px 3px 0px 0px black;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  * {
    border-radius: 0;
  }

  .message-metadata {
    align-items: center;

    .message-type {
      display: none;
    }
  }

  &.whisper {
    // background: linear-gradient(to bottom, #ffffff66, #ffffff66), url(../assets/decorations/chat-private.webp) no-repeat center;
    // background-size: cover;
    // background-position: top center;

    .message-metadata .fa-user-secret {
      display: block;
    }
  }

  &.whisper.blind {
    // background: url(../assets/decorations/chat-blind.webp) no-repeat center;
    // background-size: cover;
    // background-position: top center;

    .message-metadata .fa-eye-slash {
      display: block;
    }
  }

  .message-content,
  .message-content *:not(a):not(.roll):not(i),
  .message-header {
    color: var(--otw-c-dark);
  }

  .message-content {
    // border: 1px solid var(--otw-c-dark);
    // padding: calc(var(--default-margin)*1.5);

    ol.dice-rolls,
    div.dice-rolls {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;

      img {
        border: 1px solid var(--otw-c-dark);
        height: 36px;
      }
    }

    ol.dice-rolls:has(div.dice-rolls) {
      flex-direction: column;

      span.roll {
        width: 34px;
      }
    }

    .dice-roll:has(+div div) {
      margin-bottom: 8px;
    }

    .dice-roll {
      .roll.die.min {
        color: #18520b;
        filter: sepia(0.5) hue-rotate(60deg);
      }

      .roll.die.max {
        color: #aa0200;
        filter: sepia(0.5) hue-rotate(-60deg);
      }

      .dice-total {


        &.failure,
        &.failure i {
          color: red;
        }

        &.success,
        &.success i {
          color: green;
        }
      }
    }

    .dice-roll .dice-formula,
    .dice-roll .dice-total,
    .dice-tooltip .part-header .part-total,
    .dice-tooltip .part-header {
      border-color: var(--otw-c-dark);
    }

    .dice-roll .dice-formula,
    .part-formula {
      text-transform: none;
    }
  }

  .message-header {
    flex-direction: column;
    gap: calc(var(--default-margin)*0.5);
    margin-bottom: var(--default-margin);

    &>* {
      flex: 1 0 0;
      width: 100%;
    }

    div.sender {
      // position: relative;
      border-bottom: 2px solid var(--otw-c-dark);

      h4.flavor-text {
        // font-style: italic;
        margin: 0;
      }

      h4.message-sender {
        // @include mixin.title;
        font-size: var(--font-size-20);
      }

      img.avatar {
        --avatar-size: 45px;
        width: var(--avatar-size);
        height: var(--avatar-size);
        float: right;
        object-fit: cover;
        object-position: top center;
      }

      .top-banner {
        position: relative;
        min-height: 44px;
        align-content: center;

        img.banner {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .whisper-to {
      text-align: center;
    }
  }

  img.bottom {
    margin-top: var(--default-margin);
    width: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .roll-damage,
  .roll-critical,
  .roll-despair,
  .roll-blight,
  .roll-trauma,
  .roll-gear-damage,
  .roll-energy {
    text-align: center;
    margin: 6px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }


  div.dice-buttons {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 0 4px 4px 0;

    button.dice-button {
      @include mixin.button;
    }
  }

  ul.table-results li img {
    display: none;
  }

  strong.breakdown-value {
    width: 20px;
    display: inline-block;
    text-align: right;
  }
}