@mixin sheets {
  &.sheet.item {
    --background: var(--otw-c-tan);

    --color-text-emphatic: var(--otw-c-dark);
    --color-text-secondary: var(--otw-c-dark);

    .window-content {
      margin: 30px 30px 30px 30px;
      border: 2px solid var(--otw-c-faint);
      box-shadow: 3px 3px 0px 0px var(--otw-c-white);
      padding: 16px;
      background: var(--otw-c-beige);
    }

    header.sheet-header {
      border: 2px solid var(--otw-c-faint);
      flex: unset;

      input {
        margin-top: 20px;
      }
    }

    nav {
      margin-top: 8px;
      border: none;
      gap: 16px;
      justify-content: space-between;

      a {
        flex: 1;
        padding: 0 12px;
        background-color: var(--otw-c-beige);
        border: 1px solid var(--otw-c-faint);
        color: var(--otw-c-black);
        margin-bottom: -1px;

        &.active {
          background-color: var(--otw-c-faint);
          border: 2px solid var(--otw-c-faint);
          color: var(--otw-c-black);
          text-shadow: none;
        }
      }
    }

    label.title {
      font-size: var(--font-size-20);
    }

    section.tab {
      border: 2px solid var(--otw-c-faint);
      padding: 16px;
      flex: 1;

      &.scrollable {
        margin-right: 0;
      }
    }

    section prose-mirror {
      height: 100%;
    }
  }
}